<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<div class="panel">
    <div class="panel-item" *ngFor="let item of items">
        <div class="panel-title" (click)="toggle(item)">
            <h2>{{ item.title }}</h2>
            <span class="arrow" [class.rotated]="item.expanded"></span>
        </div>
        <div class="panel-content" *ngIf="item.expanded" style="display: block">
            <p>{{ item.text }}</p>
            <a href="#" *ngIf="item.showLink" (click)="handleLinkClick('https://www.youtube.com/@pollynedkova4237')">⏩Youtube⏩</a>
        </div>
    </div>
</div>